.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  gap: 3rem;
}

.project-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

@media screen and (max-width: 690px) {

  .projects-container {
    padding: 5rem 2rem;
  }
  
}

@media screen and (max-width: 480px) {

  .projects-container {
    padding: 4rem 2.5rem;
  }
  
}