.project-card {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-img {
  width: auto;
  height: 15rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
}

.project-content {
  width: 32.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & .project-title{
    font-size: var(--subtitle-size);
    font-weight: var(--outfit-semi-bold);
  }

  & .tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }

  & .project-description {
    font-weight: var(--outfit-light);
  }

  & .links-container {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (max-width: 1010px) {

  .project-img {
    width: auto;
    height: 13rem;
  }

  .project-content {
    width: 28rem;
  }

}

@media screen and (max-width: 900px) {

  .project-content {
    width: 24rem;
  }

}


@media screen and (max-width: 820px) {

  .project-card {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }

  .project-img {
    width: 100%;
    height: auto;
  }

  .project-content {
    width: 100%;
    gap: 2rem;
  }

}

@media screen and (max-width: 480px) {

  .project-card {
    width: 100%;
    gap: 2rem;
  }

  .project-content .project-title {
    font-size: var(--hero-text-size);
    line-height: var(--hero-text-size);
  }
}