.project-card {
  width: 100%;
  height: 26rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--main-background-color);
  box-shadow: var(--shadow);
}

.project-img {
  width: 50%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  object-fit: cover;
}

.project-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;

  & .project-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & .project-title{
      color: var(--rock-red);
      font-size: var(--subtitle-size);
      font-weight: var(--outfit-semi-bold);
    }
  
    & .tag-container {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
    }
  
    & .project-description {
      line-height: 1.5rem;
      font-weight: var(--outfit-regular);
    }
    
  }

  & .links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media screen and (max-width: 900px) {

  .project-card {
    height: 30rem;
  }
}


@media screen and (max-width: 820px) {

  .project-card {
    flex-direction: column;
    height: 100%;
  }

  .project-img {
    width: 100%;
    height: 21.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .project-content {
    width: 100%;
    gap: 2rem;
  }

}

@media screen and (max-width: 480px) {

  .project-img {
    height: 100%;
  }

  .project-content {
    padding: 2rem;

    & .project-title {
      font-size: var(--hero-text-size);
    }
  }
}