.welcome-container {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 5rem;
}

.welcome-container-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35rem;

  & .welcome-text {
    font-size: var(--subtitle-size);
    font-weight: var(--fira-regular);
  }

  & .name-text {
    color: var(--rock-red);
    font-size: var(--title-size);
    font-weight: var(--fira-bold);
  }

  & .description {
    margin: 1rem 0;
    font-size: var(--hero-text-size);
    font-weight: var(--fira-regular);

    & .profession {
      color: var(--rock-red);
    }
  }
}

.welcome-photo-container {
  width: 35%;

  & img{
    width: 100%;
    border-radius: 50%;
    border: .25rem solid var(--rock-red);
    object-fit: fill;
    object-position: center center;
  }
}