.social-media-container {
  display: flex;
  gap: 1rem;

  & .social-media-link{
    display: flex;
    justify-content: center;
    align-items: center;

    & .social-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--main-text-color);
  
      &:hover {
        fill: var(--rock-red);
      }
    }
  }

}