.social-media-container {
  display: flex;
  gap: 1rem;

  & .social-media-link{
    display: flex;
    justify-content: center;
    align-items: center;

    & .social-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--main-text-color);
      transition: all .1s ease-in-out;
  
      &:hover {
        fill: var(--rock-red);
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .social-media-container {
    gap: 2rem;
  }
}