.philosophy-card{
  width: 19rem;
  height: 17rem;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 1rem;
  background-color: var(--main-background-color);
  box-shadow: var(--shadow);
}

.philosophy-card-header {
  display: flex;
  align-items: center;
  gap: 2rem;

  & .philosophy-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.philosophy-text {
  line-height: 1.5rem;
  font-weight: var(--outfit-light);
}