.philosophy-card {
  width: 30%;
  height: 18rem;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 1rem;
  background-color: var(--main-background-color);
  box-shadow: var(--shadow);
}

.philosophy-card-header {
  display: flex;
  align-items: center;
  gap: 2rem;

  & .philosophy-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.philosophy-text {
  line-height: 1.5rem;
  font-weight: var(--outfit-light);
}

@media screen and (max-width: 860px) {

  .philosophy-card {
    width: 31.5%;
    height: 20rem;
    padding: 2rem 1rem;
  }

  .philosophy-card-header {
    gap: 1rem;
  }

}

@media screen and (max-width: 780px) {

  .philosophy-card {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

}