.contact-btn {
  width: 10rem;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  font-family: var(--cheddar-font);
  font-size: var(--hero-text-size);
  line-height: var(--hero-text-size);
  font-weight: var(--cheddar-regular);
  border-radius: 4px;
  background-color: var(--rock-red);
  color: var(--main-white);
  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover {
    background-color: #FF8C8C;
    color: var(--main-white);
  }
}