.header-container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 2rem;
}

.header-text-container {
  width: 32.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;  
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.welcome-text {
  font-family: var( --cheddar-font);
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-size);
  font-weight: var(--cheddar-regular);
}

.name-text {
  font-family: var( --cheddar-font);
  color: var(--rock-red);
  font-size: 7rem;
  line-height: 7rem;
  font-weight: var(--cheddar-regular);
  
  & .last-name {
    font-family: var( --cheddar-font);
    color: var(--main-text-color);
  }
}

.description {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: var(--outfit-regular);
}

.welcome-photo-container {
  width: 27rem;

  & img{
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--rock-red);
    object-fit: fill;
    object-position: center center;
  }
}

@media screen and (max-width: 930px) {
  .welcome-container-presentation,
  .welcome-photo-container {
    width: 19.5rem;
  }
}

@media screen and (max-width: 740px) {
  .header-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
  }

  .welcome-photo-container {
    width: 19rem;
  }

  .header-text-container {
    width: 80%;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
}

@media screen and (max-width: 480px) {

  .welcome-text {
    font-size: var(--hero-text-size);
  }

  .name-text {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .welcome-photo-container {
    width: 75%;
  }

  .welcome-container-presentation {
    width: 90%;
  }

}