.nav-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn{
  display: none;

  & .menu-icon {
    display: none;
    width: 1.75rem;
    fill: var(--main-text-color);
  }
}

.theme-menu-container {
  position: relative;
}

.theme-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  transition: .15s ease-in-out;
  cursor: pointer;

  & .theme-icon {
    width: 1.25rem;
    height: 1.25rem;

    & path {
      stroke: var(--main-text-color);
    }
  }

  &:hover {
    transform: scale(125%);
  }

}

.theme-menu {
  position: absolute;
  top: 2rem;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  opacity: 0;
  visibility: hidden;
  box-shadow: var(--shadow);
  border-radius: .25rem;
  background-color: var(--menu-background);
  border: 1px solid var(--border-color);
  transform: translateY(-10px);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;

  &.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.theme-option {
  padding: .75rem 1.25rem .75rem .5rem;
  border:  none;
  border-radius: .15rem;
  background: none;
  color: var(--main-text-color);
  text-align: start;
  cursor: pointer;

  &:hover {
    background-color: var(--border-color);
  }
}

.nav-ap-logo {
  width: 9rem;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  & .header-nav-link {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: var(--links-size);
    font-weight: var(--outfit-regular);
    transition: .15s ease-in-out;

    &:hover {
      color: var(--rock-red);
    }
  }

  & .separator {
    border-left: 2px solid var(--border-color);;
    height: 50%;
    padding: .75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 690px) {

  .nav-container {
    width: 100%;
    padding: 2rem;
    position: fixed;
    animation: nav-blur 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 112px;
    z-index: 100;
  }

  .menu-btn {
    display: block;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-elements);
    z-index: 20;

    & .menu-icon {
      display: block;
      z-index: 30;
      transition: transform .15s ease-in-out;
  
      &.rotate{
        transform: rotate(90deg);
      }
    }
  }

  .theme-btn .theme-icon {
    width: 2.25rem;
    height: 2.25rem;
  }

  .theme-menu {
    top: -12rem;
    left: -2.5rem;
    right: unset;
    transform: translateY(0);
    background-color: var(--main-background-color);

    &.open {
      opacity: 1;
      transform: translateY(-1rem)
    }
  }
  
  .theme-option {
    padding: 1rem 1.25rem;
    font-size: 1.1rem;
  }

  .header-nav{
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 10;
    gap: 4rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--menu-background);
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;

    & .header-nav-link {
      font-size: var(--hero-text-size);
    }

    &.show{
      transform: translateX(0);
    }

    & .separator {
      width: 7.5rem;
      height: 0;
      padding: 0;
      border-left: none;
      border-top: 2px solid var(--border-color);;
    }
  }
}

@keyframes nav-blur {
  100% {
    background-color: var(--navbar-background);
    box-shadow: 0 5px 10px -3px rgb(0 0 0 / .1);
    backdrop-filter: blur(10px);
  }
}