.btn-link {
  line-height: .75rem;
  color: var(--rock-red);
  padding: .75rem 1.25rem;
  border: 1px solid var(--rock-red);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  transition: all .15s ease-in-out;
  
  & .link-icon {
    width: 1rem;
    height: 1rem;
    fill: var(--rock-red);
    transition: all .15s ease-in-out;
  }

  &:hover {
    color: var(--main-white);
    background-color: var(--rock-red);

    & .link-icon {
      fill: var(--main-white);
    }
  }

}