.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-top: 1px solid var(--border-color);
  
  & p {
    font-weight: var(--outfit-light);
  }
}

@media screen and (max-width: 740px) {

  .footer-container{
    flex-direction: column;

    & p {
      margin-bottom: 1rem;
    }
  }

}

@media screen and (max-width: 500px) {

  .footer-container {
    padding: 2.5rem;

    & p {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}