@import './assets/fonts/fonts.css';

:root {
  /* Main Colors */
  --main-black: #000;
  --main-white: #fff;
  --rock-red: #ff2d2d;
  --soft-gray: #e4e4e4;
  --dark-night: #0e0e10;
  --light-gray: #ddd;
  --dark-gray: #404040;

  /* Gradients */
  --background-section: #F9FAFB;
  --photo-gradient: radial-gradient(50% 50% at 50% 50%, rgb(222, 222, 222) 0%, rgb(171, 171, 171) 100%);
  
  /* Background & Elements Colors */
  --main-background-color: var(--main-white);
  --back-btn-theme: var(--soft-gray);
  --hover-btn-theme: var(--dark-night);
  --main-text-color: var(--main-black);
  --menu-background: rgba(238, 238, 238, 0.9);
  --navbar-background: rgba(255, 255, 255, 0.5);
  --back-experience-card: #F0F0F0;
  --border-color: var(--light-gray);
  --secondary-text-color: var(--dark-gray);

  /* Font Props */
  --cheddar-font: 'Cheddar Gothic';
  --outfit-font: 'Outfit';
  --cheddar-regular: normal;
  --cheddar-italic: italic;
  --outfit-light: 300;
  --outfit-regular: 400;
  --outfit-medium: 500;
  --outfit-semi-bold: 600;
  --outfit-bold: 700;
  --title-size: 2.5rem;
  --subtitle-size: 2rem;
  --hero-text-size: 1.5rem;
  --about-me-size: 1.25rem;
  --links-size: 1rem;
}

[data-theme="dark"] {
  --main-background-color: var(--dark-night);
  --background-section: #121212;
  --photo-gradient: radial-gradient(50% 50% at 50% 50%, rgb(255, 255, 255) 0%, rgb(201, 201, 201) 100%);
  --menu-background: rgba(34, 34, 34, 0.9);
  --navbar-background: rgba(0, 0, 0, 0.5);
  --back-btn-theme: var(--dark-night);
  --hover-btn-theme: var(--soft-gray);
  --back-experience-card: #18181B;
  --border-color: var(--dark-gray);
  --secondary-text-color: var(--light-gray);
  --main-text-color: var(--main-white);
}

*{
  font-family: var(--outfit-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.container {
  max-width: 1064px;
  margin: 0 auto;
}

.title-section {
  font-size: var(--title-size);
  font-family: var(--outfit-font);
  font-weight: var(--outfit-bold);
  color: var(--rock-red);
}

.subtitle-section {
  font-size: var(--subtitle-size);
  font-weight: var(--outfit-medium);
  color: var(--rock-red);
}

a {
  font-size: var(--links-size);
  line-height: var(--links-size);
  font-weight: var(--outfit-regular);
  text-decoration: none;
  color: var(--text-color);
  transition: .1s ease-in-out;

  &:hover {
    color: var(--rock-red);
  }
}

.background-section {
  width: 100%;
  position: absolute;
  z-index: -2000;
  background-color: var(--background-section);
}

@media screen and (max-width: 480px) {
  .subtitle-section {
    font-size: 1.5rem;
  }
}