@import './assets/fonts/fonts.css';

:root {
  /* Main Colors */
  --main-black: #000;
  --main-white: #fff;
  --rock-red: #ff2d2d;
  --soft-gray: #e4e4e4;
  --dark-night: #0e0e10;
  --light-gray: #ddd;
  --dark-gray: #404040;

  /* Gradients */
  --gradient-header: radial-gradient(100% 50% at center top, rgb(255, 255, 255) 0%, rgb(228, 228, 228) 100%);
  --photo-gradient: radial-gradient(50% 50% at 50% 50%, rgb(222, 222, 222) 0%, rgb(171, 171, 171) 100%);
  
  /* Background & Elements Colors */
  --main-background-color: var(--soft-gray);
  --back-btn-theme: var(--soft-gray);
  --hover-btn-theme: var(--dark-night);
  --main-text-color: var(--main-black);
  --menu-background: var(--soft-gray);
  --secondary-text-color: var(--light-gray);
  --shadow: 3px 3px 10px rgba(0, 0, 0, .03);
  --contact-background-color: var(--main-black);
  --contact-text-color: var(--light-gray);

  /* Font Props */
  --cheddar-font: 'Cheddar Gothic';
  --outfit-font: 'Outfit';
  --cheddar-regular: normal;
  --cheddar-italic: italic;
  --outfit-light: 300;
  --outfit-regular: 400;
  --outfit-medium: 500;
  --outfit-semi-bold: 600;
  --outfit-bold: 700;
  --title-size: 3rem;
  --subtitle-size: 2rem;
  --hero-text-size: 1.5rem;
  --about-me-size: 1.1rem;
  --links-size: 1rem;
}

[data-theme="dark"] {
  --main-background-color: var(--dark-night);
  --gradient-header: radial-gradient(100% 50% at center top, rgb(42.5, 42.5, 42.5) 0%, rgb(14, 14, 16) 100%);
  --photo-gradient: radial-gradient(50% 50% at 50% 50%, rgb(255, 255, 255) 0%, rgb(201, 201, 201) 100%);
  --shadow: 3px 3px 10px rgba(255, 255, 255, .10);
  --menu-background: var(--light-gray);
  --back-btn-theme: var(--dark-night);
  --hover-btn-theme: var(--soft-gray);
  --contact-background-color: var(--light-gray);
  --contact-text-color: var(--dark-night);
  --main-text-color: var(--main-white);
  --secondary-text-color: var(--dark-night);
}

*{
  font-family: var(--outfit-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  background-position: top;
  background-size: cover;
}

.container {
  max-width: 1064px;
  margin: 0 auto;
}

.title-section {
  font-size: var(--title-size);
  line-height: var(--title-size);
  font-family: var(--cheddar-font);
  font-weight: var(--cheddar-regular);
  color: var(--rock-red);
}

.subtitle-section {
  margin: 1.5rem 0;
  font-size: var(--subtitle-size);
  font-weight: var(--fira-semi-bold);
  color: var(--rock-red);
}

.center-text {
  text-align: center;
}

.link-container {
  display: flex;
  align-items: center;

  & .link-icon {
    width: 1.25rem;
    margin-right: .5rem;
    filter: var(--icon-color);
  }

  & a {
    font-size: var(--links-size);
    text-decoration: none;
    color: var(--text-color);
    transition: .15s ease-in-out;

    &:hover {
      color: var(--rock-red);
    }
  }
}

.back-gradient {
  width: 100vw;
  height: 700px;
  background: var(--gradient-header);
}